  article{
    background-color:#FFF4EB;
  }
  .progressLabel{
    padding-top: 30px;
    font-family: "Kyobo";
    font-size: 14px;
    text-align: right;
  }
  
  .question-num{
    font-family: "BM-HANNA";
    font-size: 24px;
    text-align: left;
    padding-bottom: 40px;
  }

  .question{
    font-family: "Kyobo";
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    white-space: pre-wrap;
  }

  .button {
    background-color: white;
    color: black!important;
    border: none !important;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Kyobo";
    font-size: 18px;
    text-align: center;
    white-space: pre-wrap;

    margin-top: 3%;
    width: 100%;
    height: 125px;
  }

  .rending{
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: "Kyobo";
    font-size: 24px;
    text-align: center;
  }
  .rending .title{
    font-family: "BM-HANNA";
    font-size: 40px;
    line-height: 1.1;
    width: fit-content;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  .rending .subtitle{
    font-size: 18px;
  }
  .rending .main{
    margin: 50px 0;
  }
  .rending .button{
    box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    color: black;
    width: 60%;
    margin: 50px auto;
    font-size: 24px;
  }
  .rending .button p{
    margin-bottom: 0px;
  }
  .rending .button-sub{
    font-size: 16px;
    color:#DC8534;
  }
  .rending .sharing{
    padding-top: 30px;
  }
  .rending .sharing-title{
    font-family: "BM-HANNA";
    line-height: 1;
  }
  .rending .sharing-title span{
    font-size: 16px;
  }
  .rending .sharing-button{
    box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    border: none;
    margin:0 5px;
  }
  .rending .sharing-button.link{
    background-color: #F8EAD9;
  }
  .rending .sharing-button.kakao{
    background-color: #FFF7A9;
  }
  .rending .sharing-button span{
      margin-left: 10px;
  }

  .rending .gift-img{
    opacity: 20%;
    position: absolute;
    width: 155.49px;
    height: 176.62px;
    left: -30%;
    top: -70%;
    transform: rotate(-18.53deg);
  }